<div class="row">
    <div class="col">
        <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col">
                    <button class="btn btn-success me-2" type="submit" [disabled]="!recipeForm.valid">{{editMode ?
                        'Update' : 'Add'}}</button>
                    <button class="btn btn-danger me-2" type="button" (click)="onCancel()">Cancel</button>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="name">Recipe Name</label>
                        <input type="text" id="name" class="form-control" formControlName="name">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="imagePath">Recipe Image</label>
                        <input type="text" id="imagePath" class="form-control" formControlName="imagePath" #imagePath>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <img [src]="imagePath.value" alt="no image atm" class="img-fluid">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="description">Recipe Description</label>
                        <textarea name="description" id="description" class="form-control" rows="8"
                            formControlName="description"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col" formArrayName="ingredients">
                    <div class="row" *ngFor="let ingredientCtrl of controls; let i = index" [formGroupName]="i">
                        <div class="col-8">
                            <input type="text" name="ingredient" id="ingredient" class="form-control"
                                formControlName="name">
                        </div>
                        <div class="col-2">
                            <input type="number" name="amount" id="amount" class="form-control"
                                formControlName="amount">
                        </div>
                        <div class="col-2">
                            <button class="btn btn-danger" type="button" style="margin-top: 5px;"
                                (click)="onDeleteIngredient(i)">X</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button class="btn btn-success" type="button" (click)="onAddIngredient()">Add Ingredient</button>
                </div>
            </div>
        </form>
    </div>
</div>