<div class="row">
    <div class="col-12 col-md-6 offset-md-3">
        <div style="text-align:center;" *ngIf="isLoading">
            <loading-spinner-app></loading-spinner-app>
        </div>
        <!-- <div class="alert alert-danger" role="alert" *ngIf="error && !isLoading" style="margin-top: 10px">
            <h6>{{error}}</h6>
        </div> -->
        <app-alert *ngIf="error" [message]="error" (close)="closeAlert()"></app-alert>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" *ngIf="!isLoading">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" class="form-control" formControlName="email">

                <label for="password">Password</label>
                <input type="password" id="password" class="form-control" formControlName="password">
            </div>

            <div style="margin-top: 10px; margin-bottom: 10px;">
                <button class="btn btn-primary" type="submit" [disabled]="!loginForm.valid">{{isLoginMode ? 'Login' :
                    'Sign Up'}}</button> |
                <button class="btn btn-primary" type="button" (click)="onSwitchMode()">Switch To {{isLoginMode ?
                    'Sign Up' : 'Login'}}</button>
            </div>
        </form>
    </div>
</div>